.loader {
    border: 10px solid #9356DC;
    border-top: 10px solid #FF79DA ;
    border-bottom: 10px solid #99E2D0;
    border-radius: 50%;
    width:200px;
    height:200px;
    -webkit-animation: spin 5s linear infinite; ;
    -o-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    z-index: 1;
   animation-fill-mode:both  ;
    animation-timing-function: cubic-bezier(.17,.67,1,0);
    animation-iteration-count: 1;
    /*placement loader*/
    position:absolute;
    margin: auto; 
    top:0;left:0;right:0;bottom:0;
 /*animation*/
}

 @keyframes spin {
    0%{
        transform: rotate(0deg);
        opacity:1;
    }
    50%{
        transform: rotate(180deg);
        opacity:.5
    }
     100%{
         opacity: 0;
         transform: rotate(360deg);
     }
    
 }
