.footer {
    background: #353535;
    color: #fff;
    padding: 30px;
    &__list{
        font-weight: 500;
        padding:10px 0;
    }
    &__link {
        display: flex;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            margin-right: 10px;
        }
        a {
            color: #fff;
        }
    }
        img {
            height:17px;
        }
}