header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    i {
        position: absolute;
        font-size:larger ;
        top:20px;
        left:30px;
    }
}