@mixin border($color:$color-primary) {
    border: .1rem solid $color;
}

@mixin gradient($list, $direction: top) {
    background: linear-gradient($direction, $list);
}

@mixin btn {
    padding: $grid-gutter;
    color: $color-white;
    border: none;
    background: $color-gradient-primary;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    &:hover {
        background: $color-gradient-secondary;
    }
    &--rounded {
        border-radius: 38px;
        margin: 20px;
        font-weight: 500;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
    &--like {
        background: $color-white;
        border: none;
        padding-right: 15px;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
@mixin xldesktop  {
    @media screen and (min-width: map-get($breakpoints,xldesktop)) {
        @content;
    }

}