.jumbotron {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 40px;
&__title {
    font-size: 25px;
    padding:10px;
}

.jumbotron>* {
    margin: 5px 0;
}
}