.like-btn {
    cursor: pointer;
    font-size: x-large;
    &:hover {
        animation: fill 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(to left,$color-primary,$color-secondary /*#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da*/);
        background-clip: text;
        background: -webkit-linear-gradient(to left, $color-primary,$color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}