.meal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: 5px 5px 5px 5px#E9E9E9;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

.meal.price {
  font-size: bold;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .card_icon__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card_icon {
    width: 28%;
  }

  .card_list {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  .card {
    width: 48%;
  }

}

@media only screen and (min-width: 993px) {

  .card_icon__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card_icon {
    width: 30%;
  }

  .card {
    width: 48%;
  }
}
  /*# sourceMapping URL=style.css.map */